<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Exclude .well-known directory from rewrite rules
  RewriteRule ^\.well-known/ - [L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>