.song-text {
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 2.5em;
  padding: 1rem;
  flex-grow: 1;
  font-weight: 700;
  min-height: 100vh;

  .row {
    position: relative;
  }

  .chord {
    position: absolute;
    margin-top: -0.5em;
    font-size: 80%;
    font-weight: 700;
    color: #ffffff;
    background-color: #00000088;
    padding: 0.2em 0.3em;
    border-radius: 0.3em;
    line-height: 1em;
  }

  .verseNumber {
    font-weight: 700;
    background-color: #ffffff;
    padding-right: 0.5em;

    .dark & {
      background-color: unset;
    }
  }

  .verseNumber::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.2em;
    border-top: 1px solid #00000033;
    z-index: -1;
  }
}
