.song-row {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;

  .dark & {
    border-bottom: 1px solid #46556e;
  }

  .title {
    font-weight: 500;
  }

  .group-name {
    font-size: 0.75rem;
    font-weight: 500;
  }

  .snippet {
    font-size: 0.75rem;
  }
}